$bg-header: #1d2126;
$navigation-color: #a4aead;
$color-base: #8d8f92;
$border-color: #23b7a4;
$link-color: #23b7a4;
$font-family-base: "Open Sans", sans-serif;
$font-weight-normal: 400;
$container-max-widths: (
  lg: 1140px,
);
$line-height-base: 1.625;
$h2-font-size: 36px;
$h3-font-size: 17px;
$headings-color: #292f36;
